@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Yeseva+One&display=swap');



:root {
    --primary-text:#121617;
    --secondary-text: #2F3131;
    --background: #DAE0E1;
    --primary: #E9E8E8;
    --secondary: #E3E2E3;
    --accent: #264F43;
    --shadow: #AEBCBF;
}




* {
    margin: 0%;
    padding: 0%;

    font-family: 'Inter', sans-serif;
}




body {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr minmax(256px , 1160px) 1fr;
}




.pageHeader {
    grid-column: 2;

    margin-top: 32px;

    display: grid;
    grid-template-columns: max-content 1fr minmax(256px , 768px);
}




nav {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 32px;
}

.mainNavButton {
    font-size: 24px;
    font-family: 'Yeseva One', cursive;

    text-decoration: none;

    color: var(--accent);
}

.navButton {
    font-size: 15px;
    font-weight: 500;

    text-decoration: none;

    color: var(--accent);
}

.navButton:hover {
    cursor: pointer;
    text-decoration: underline;
}



form {
    grid-column: 3;
    width: 100%;

    padding: 4px;

    border-radius: 12px;
    border: 1px solid var(--secondary);

    background-color: var(--primary);

    box-shadow: 0px 4px 16px 0px var(--shadow);

    display: flex;
}

form input {
    flex-grow: 1;

    padding: 11px;
    font-size: 14px;

    border: none;

    font-weight: 400;

    color: var(--primary-text);
    background-color: var(--primary);
}

form input:focus {
    outline: none;
}

form button {
    aspect-ratio: 1/1;

    border-radius: 8px;
    border: none;

    background-color: var(--primary);

    display: grid;
    place-content: center;
}

form button:hover {
    cursor: pointer;
    background-color: var(--background);
}




header {
    grid-column: 2;

    margin: 64px 0px 32px 0px;
}

header h2 {
    font-size: 20px;
    font-family: 'Yeseva One', cursive;

    text-align: center;

    color: var(--accent);
}

header p {
    margin-top: 8px;

    font-size: 14px;

    text-align: center;

    color: var(--primary-text);
}




section {
    grid-column: 2;
}